/*Common*/

.container {
  margin-bottom: 30px;
}
h3 {
  text-align: center;
}
.row-centered {
  text-align: center;
}
.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left;
  /* inline-block space fix */
  margin-right: -4px;
}
.img-centered {
  width: 100%;
  margin: auto;
}
.hidden {
  display: none;
}
.clearfix {
  overflow: auto;
}

/*Header page*/

.open a,
.open a:hover {
  padding: 7px 15px;
  background-color: #000;
  border-radius: 3px;
}
.open {
  color: #fff;
  position: absolute;
}
.open.left {
  left: 20px;
  cursor: pointer;
}
.panel {
  background: #db787b !important;
  width: 13em;
}
.panel a {
  color: #ffffff !important;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  font-size: 14px;
  padding: 15px 20px 15px 60px;
  display: block;
  text-decoration: none;
  border-bottom: 1px solid #e3bfbf;
  border-top: 1px solid #e5cdcd;
  position: relative;
  font-weight: 400;
}
.panel ul {
  padding: 0;
  margin: 0;
  list-style: none;
  border-bottom: 1px solid #e5cdcd;
}
.panel .avatar {
  position: absolute;
  top: 8px;
  left: 20px;
}
.ui-panel-inner {
  padding: 0;
}
.panel a:hover {
  background-color: #e5cdcd;
  color: #db787b !important;
}
.panel.left a:before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 15px;
  left: 20px;
  font-family: 'hk-demo';
  text-align: center;
  font-size: 18px;
}
.menu-active {
  background-color: #ce565a;
}

/*Footer*/

.footer {
  top: auto !important;
  width: 100%;
}
.footer_socials {
  margin-top: 22px
}
.footer_socials a {
  margin-right: 10px;
}
.footer_socials a img {
  width: 2.5em;
}
.footer_socials,
p.copyright {
  text-align: center;
}

/*Gallery*/

.gallery img {
  height: 100%;
}
.img-overflow {
  display: inline-block;
  height: 200px;
  overflow: hidden;
  padding: 0;
}
.img-overflow img {
  overflow: hidden;
  width: 100%;
}
@media (max-width: 550px) {
  .img-overflow {
    height: 150px;
  }
}
@media (max-width: 420px) {
  .img-overflow {
    height: 100px;
  }
}

/*Quiz*/

.answers {
  padding-left: 0px;
}
.rightAnswer {
  color: #20B313;
  text-shadow: 0.5px 0.5px #000000;
}
.wrongAnswer {
  color: #F90808;
  text-shadow: 0.5px 0.5px #AFA2A2;
}

/*Form*/

textarea .form-control {
  height: 10em;
}
.help-block {
  color: #F10000;
}
.donation {
  max-width: 25em;
}
.pound-sign {
  font-size: 2em;
}

/*ContactUs page*/

.contact {
  display: block;
  margin-bottom: 3%;
}
.contact-details {
  text-align: center;
  border-bottom: 1px solid #eee;
}
.contact-item {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}
.contact-item::after {
  content: '';
  display: inline-block;
  width: 100%;
}
.contact-item p {
  margin: 0;
}
p.detailsTitle {
  font-weight: bold;
  text-align: right;
}

/*For details of this organization*/

.inner-column {
  padding-top: 10px;
  text-align: left;
}
.inner-column:first-child {
  padding-top: 0px;
}
@media (max-width: 1000px) {
  .inner-column {
    text-align: center;
  }
  p.detailsTitle {
    text-align: center;
  }
}

/*For google map*/

.google-map iframe {
  min-width: 300px;
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 17px;
  border: 2px solid rgb(188, 188, 188);
}
