<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>HSENS</title>
  <!--CSS-->
  <link type="text/css" rel="stylesheet" href="lib/css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="lib/css/jquery.mobile-1.4.5.min.css">
  <link type="text/css" rel="stylesheet" href="lib/css/simplelightbox.min.css">
  <!--Themes-->
  <link type="text/css" rel="stylesheet" href="lib/themes/pink.min.css" />
  <link type="text/css" rel="stylesheet" href="lib/themes/jquery.mobile.icons.min.css" />
  <!--Customize CSS-->
  <link type="text/css" rel="stylesheet" href="css/main.css">

  <!--JavaScript-->
  <script type="text/javascript" src="lib/js/jquery.min.js"></script>
  <script type="text/javascript" src="lib/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="lib/js/jqBootstrapValidation.js"></script>
  <script type="text/javascript" src="lib/js/handlebars-v4.0.5.js"></script>
  <script type="text/javascript" src="lib/js/simple-lightbox.min.js"></script>
  <!--Customized JavaScript files-->
  <script type="text/javascript" src="js/main.js"></script>
  <script type="text/javascript" src="js/header.js"></script>
  <script type="text/javascript" src="js/footer.js"></script>
  <script type="text/javascript" src="js/quiz.js"></script>
  <!--Json-->
  <script type="text/javascript" src="json/images.js"></script>
  <script type="text/javascript" src="json/quiz-data.js"></script>
  <script type="text/javascript" src="json/newsContents.js"></script>
</head>

<body id="contents" class="hidden">
  <!--Index Page-->
  <div id="index" data-role="page">
    <div id="index-header"></div>
    <div class="container" data-role="main">
      <div class="col-md-12">
        <h2 class="text-center">HSENS Mobile Application</h2>
        <hr>
        <p>Welcome to Harrow School for Special Educational Needs (HSENS) mobile application</p>
        <p>HSENS was established in 2007 with a grant of £3.7m from the Higher Education Funding Council for England (HEFCE), and it now has more than 200 staff, students and alumni members. </p>
        <h2 class="text-center">HSENS History</h2>
        <p>We started off by fund raising at local parties and events. As the charity grew, we started holding fundraising events including cycling tours and bake sales. We have now opened a shop selling donated clothes and books. </p>
        <hr>
      </div>
    </div>
    <div class="footer"></div>
  </div>
  <!--/Index Page-->
  <!--Gallery Page-->
  <div id="gallery" data-role="page">
    <div id="gallery-header"></div>
    <div class="container" data-role="main">
      <div class="row">
        <h1 class="text-center">Gallery</h1>
        <div id="gallery-images" class="gallery">
          <script id="gallery-template" type="text/x-handlebars-template">
            {{#each images}}
            <a href="images/{{name}}" class="img-overflow portfolio-item col-xl-2 col-sm-3 col-xs-4">
              <img src="images/{{name}}" alt="{{alt}}" title="{{title}}" />
            </a>
            {{/each}}
          </script>
        </div>
      </div>
    </div>
    <div class="footer"></div>
  </div>
  <!--/Gallery Page-->
  <!--News Page-->
  <div id="news" data-role="page">
    <div id="news-header"></div>
    <div id="news-contents" class="container" data-role="main">
      <script id="news-template" type="text/x-handlebars-template">
        <h2 class="text-center">Latest News</h2> {{#each newsContents}}
        <div class="row row-centered">
          <div class="col-sm-4 col-xs-12 col-centered">
            <img class="img-responsive img-centered" data-toggle="modal" data-target="#{{name}}" src="{{image_src}}" alt="{{title}}" />
          </div>
          <div class="col-sm-8 col-xs-12 col-centered">
            <h3>{{title}}</h3>
            <button type="button" class="btn-block" data-toggle="modal" data-target="#{{name}}">Read More &raquo;</button>
            <h4>{{date}}</h4>
            <p>{{summary}}</p>
          </div>
        </div>
        <hr>
        <!-- Modal -->
        <div class="modal fade row row-centered" id="{{name}}" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" data-role="button" data-icon="delete" data-iconpos="notext" data-dismiss="modal" data-iconpos="notext" class="ui-btn-icon-left"></button>
                <h4 class="modal-title">{{title}}</h4>
              </div>
              <div class="modal-body">
                <img class="img-responsive col-centered" src="{{image_src}}" alt="{{title}}" />
                <hr />
                <p class="text-left">{{details}}</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            <!-- Modal content-->
          </div>
        </div>
        {{/each}}
      </script>
    </div>
    <div class="footer"></div>
  </div>
  <!--/News Page-->
  <!--Quiz Page-->
  <div id="quiz" data-role="page">
    <div id="quiz-header"></div>
    <div id="quiz-contents" class="container" data-role="main">
      <script id="quiz-template" type="text/x-handlebars-template">
        <h3>Quiz</h3>
        <p class="text-right" id="score"></p>
        <p class='question'>
          {{question}}
        </p>
        <ul class="answers">
          {{#each choices}}
          <li>
            <input type="radio" name="choice" value="{{@index}}" id="q{{@index}}">
            <label for="q{{@index}}">
              {{this}}
            </label>
          </li>
          {{/each}}
        </ul>
        <hr />
        <!--Submittion button-->
        <button type="submit" id="show-answer-button" onClick="checkAnswser()">Answer</button>
        <div id="result" class="hidden text-center">
          <span id="answer" class="hidden">{{answer}}</span>
          <h3 id="correctUserAnswer"></h3>
          <p>Explanation: {{explanation}}</p>
          <span id="nextQuestion" class="hidden">
            <a data-role="button" onClick="goToNextQuestion()">Next Question</a>
          </span>
          <span id="finalResult" class="hidden">
            <a data-role="button" onClick="showFinalScore()">Show Final Score</a>
          </span>
          <!--Popup message window to show the final score-->
          <div data-role="popup" id="showFinalScore">
            <div data-role="header">
              <h2>Score</h2>
            </div>
            <div data-role="main" class="ui-content">
              <p />
              <a data-role="button" onClick="goToNextQuestion()" data-rel="back">OK</a>
            </div>
          </div>
          <!--/ popup message to show the final score-->
          <!--Error Message popup window-->
          <div data-role="popup" id="errorMessage">
            <div data-role="header">
              <h2>Error</h2>
            </div>
            <div data-role="main" class="ui-content">
              <p>Please select an answer!</p>
              <a data-role="button" data-rel="back">OK</a>
            </div>
          </div>
          <!--/ Error Message-->
        </div>
        <!--/ Submission button-->
      </script>
    </div>
    <div class="footer"></div>
  </div>
  <!--/Quiz Page-->
  <!--Donation Form Page-->
  <div id="donationForm" data-role="page">
    <div id="donationForm-header"></div>
    <div class="container" data-role="main">
      <h2 class="text-center">Donate</h2>
      <div class="row">
        <div class="text-center form-wrapper" data-theme="a">
          <!-- Donation form -->
          <form data-theme="a" id="donate">
            <p>Please Enter Amount to Donate</p>
            <hr />
            <div class="control-group form-group row">
             <div class="donation controls col-xs-10 col-centered">
              <label class="col-xs-2 clearfix">
                <span class="text-right pound-sign">£</span>
              </label>
              <div class="controls col-xs-10">
                <input type="number" id="amount" class="form-control" placeholder="Enter Donation Amount" name="amount" required>
              </div>
              </div>
            </div>
            <hr />
            <div class="control-group form-group row">
              <div class="donation controls col-xs-10 col-centered">
                <button data-role="button" onclick="validateDonationForm()">Donate</button>
              </div>
            </div>
          </form>
          <!--/ Donation form -->
          <!--Popup window to show confirmation message-->
          <div data-role="popup" id="thankYouForDonation">
            <div data-role="header">
              <h2>Thank You</h2>
            </div>
            <div data-role="main" class="ui-content">
              <p>Thank you for your donation!</p>
              <a data-role="button" data-rel="back">OK</a>
            </div>
          </div>
          <!--/ Popup window to show confirmation message-->
          <!--Popup window to show error Message window-->
          <div data-role="popup" id="donationError">
            <div data-role="header">
              <h2>Error</h2>
            </div>
            <div data-role="main" class="ui-content">
              <p>Please type right amount!</p>
              <a data-role="button" data-rel="back">OK</a>
            </div>
          </div>
          <!--/ Popup window to show error Message window-->
        </div>
      </div>
    </div>
    <div class="footer"></div>
  </div>
  <!--/Donation Form Page-->
  <!--Contact Us Page-->
  <div id="contactUs" data-role="page">
    <div id="contactUs-header"></div>
    <div class="container" data-role="main">
     <!--Showing the address of the charity-->
      <div class="col-md-6 col-centered">
        <div>
          <div>
            <h2 class="text-center">Our Charity</h2>
            <div class="text-center">
              <div class="contact-item">
                <div class="inner-column clearfix col-md-12 col-sm-5 col-centered">
                  <p class="detailsTitle col-sm-4 clearfix">Address:</p>
                  <div class="col-sm-8 text-left col-centered">
                    <p>Meridian House</p>
                    <p>Royal Hill</p>
                    <p>London SE10 8RD</p>
                  </div>
                </div>
              </div>
              <div class="contact-item">
                <div class="inner-column clearfix col-md-12 col-sm-5 col-centered">
                  <p class="detailsTitle col-sm-4 clearfix">Tel:</p>
                  <div class="col-sm-8 text-left col-centered">
                    <p> 020 8516 7800</p>
                  </div>
                </div>
              </div>
              <div class="contact-item">
                <div class="inner-column clearfix col-md-12 col-sm-5 col-centered">
                  <p class="detailsTitle col-sm-4 clearfix">Email:</p>
                  <div class="col-sm-8 text-left col-centered">
                    <p>enquiry@hsens.com</p>
                  </div>
                </div>
              </div>
              <div class="contact-item">
                <div class="inner-column clearfix col-md-12 col-sm-5 col-centered">
                  <p class="detailsTitle col-sm-4 clearfix">Open:</p>
                  <div class="col-sm-8 text-left col-centered">
                    <p>Monday - Friday</p>
                    <p>9:00 am – 6:00 pm</p>
                  </div>
                </div>
              </div>
              <div class="google-map clearfix">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2484.915637675854!2d-0.010765100000045042!3d51.47806280000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876028609a835cb%3A0x279f8c163098968f!2sGSM+London!5e0!3m2!1sen!2suk!4v1436979241967" allowfullscreen></iframe>
              </div>
              <div id="map1" class="map">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/Showing the address of the charity-->
      <!--Send message form-->
      <div class="col-md-6">
        <h2 class="text-center">Message Form</h2>
        <div class="row">
          <form name="contactForm" class="col-xs-12" action="#contactUs" method="post">
            <fieldset>

              <p class="text-center">If you have any questions, please fill out and submit the following form.</p>
              <p class="text-center">We will get back to you within 2 business days.</p>

              <div class="control-group form-group">
                <div class="controls col-md-10 col-md-offset-1">
                  <input id="firstName" name="firstName" type="text" placeholder="First Name" class="form-control" required />
                </div>
              </div>
              <div class="control-group form-group">
                <div class="controls col-md-10 col-md-offset-1">
                  <input id="lastName" name="lastName" type="text" placeholder="Last Name" class="form-control" required />
                </div>
              </div>

              <div class="control-group form-group">
                <div class="controls col-md-10 col-md-offset-1">
                  <input id="email" name="email" type="email" placeholder="Email Address" class="form-control" required />
                </div>
              </div>

              <div class="controls control-group form-group">
                <div class="col-md-10 col-md-offset-1">
                  <textarea class="form-control" id="message" name="message" placeholder="Enter your massage for us here." rows="7" required></textarea>
                </div>
              </div>

              <div class="controls control-group form-group">
                <div class="col-md-12">
                  <button data-role="button" onclick="validateContactForm()">Send your message</button>
                </div>
              </div>
            </fieldset>
          </form>
          <!--Popup window to show confirmation message-->
          <div data-role="popup" id="thankYouForYourMessage">
            <div data-role="header">
              <h2>Thank You</h2>
            </div>
            <div data-role="main" class="ui-content">
              <p>Thank you for your message.</p>
              <p>We will get back to you within 2 business days</p>
              <a data-role="button" data-rel="back">OK</a>
            </div>
          </div>
          <!--/ Popup window to show confirmation message-->
          <!--Popup window to show error Message window-->
          <div data-role="popup" id="contactError">
            <div data-role="header">
              <h2>Error</h2>
            </div>
            <div data-role="main" class="ui-content">
              <p>Fill out all the fields correctly!</p>
              <a data-role="button" data-rel="back">OK</a>
            </div>
          </div>
          <!--/ Popup window to show error Message window-->
        </div>
      </div>
    </div>
    <div class="footer"></div>
  </div>
  <!--/Contact Us Page-->
  <script>
    initPages();
  </script>
  <script type="text/javascript" src="lib/js/jquery.mobile-1.4.5.min.js"></script>
  <script type="text/javascript" src="cordova.js"></script>
</body>
